<html>

<head>
    <title>Uniccan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/angular.min.js"></script>
    <% for(key in user){ %>
    <meta name="user-<%= key %>" content="<%= user[key] %>">
    <% } %>
</head>

<body ng-app="uniccan" ng-controller="profileCtrl"
    style="background-image: url(/images/bg.jpeg);background-size: 100% 100%;">
    <% include header %>
    <div class="container">
        <form ng-submit="search()">
            <div class="input-group search-group">
                <input class="search-box form-control" type="text" name="q" autocomplete="off" list="suggestions"
                    placeholder="Search by Name, College, Company, Skills, Hobbies, Knowledges..." ng-model="q" ng-keypress="getSuggestions()">
                <datalist id="suggestions">
                    <option ng-repeat="name in names track by $index">{{name.value}}</option>
                    <option ng-repeat="work_exp in work_exps track by $index">{{work_exp}}</option>
                    <option ng-repeat="other in others track by $index">{{other}}</option>
                </datalist>
                <div class="input-group-append search-btn">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"
                            ng-click="search()"></i></button>
                </div>
            </div>
        </form>
        <div class="card-deck">
            <a ng-repeat="helper in helpers" href="/chat/{{helper.id}}" class="nav-link">
                <div class="card border-primary">
                    <div class="card-header border-primary">
                        <div class="card-title">Name : {{helper.name}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>
<script src="/js/home.js"></script>

</html>