<html>

<head>
    <title>Uniccan - Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/angular.min.js"></script>
    <% for(key in user){ %>
    <meta name="user-<%= key %>" content="<%= user[key] %>">
    <% } %>
</head>

<body ng-app="uniccan" ng-controller="profileCtrl"
    style="background-image: url(/images/bg.jpeg);background-size: 100% 100%;">
    <% include header %>
    <div class="container">
        <div class="alert" style="display:none">
            <span class="message"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form class="user-details" ng-submit="submitForm()">
            <input type="hidden" ng-model="data.id">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="name" class="input-group-text">
                        Name
                    </label>
                </div>
                <input ng-model="data.name" id="name" name="name" class="form-control bg-white" type="text"
                    placeholder="Name" ng-disabled="tag_disabled" required>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="gender" class="input-group-text">
                        Gender
                    </label>
                </div>
                <select class="form-control bg-white" ng-model="data.gender" id="gender" name="gender"
                    ng-disabled="tag_disabled">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="dob" class="input-group-text">
                        Date Of Birth
                    </label>
                </div>
                <input ng-model="data.dob" id="dob" name="dob" class="form-control bg-white" type="date"
                    placeholder="Date of Birth" ng-disabled="tag_disabled">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="education" class="input-group-text">
                        Education
                    </label>
                </div>
                <select class="form-control bg-white" ng-model="data.education" id="education" name="education"
                    ng-disabled="tag_disabled">
                    <option style="display:none" value="">Select an education</option>
                    <option value="school">School</option>
                    <option value="ug">Under Graduate</option>
                    <option value="pg">Post Graduate</option>
                </select>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="college_name" class="input-group-text">
                        Colleges
                    </label>
                </div>
                <textarea ng-model="data.college_name" id="college_name" name="college_name" class="form-control bg-white"
                    placeholder="Eg : Anna University,IIT" ng-disabled="tag_disabled"></textarea>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="work_experiences" class="input-group-text">
                        Work Experience
                    </label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" ng-click="inc('work_experiences')"
                        ng-disabled="tag_disabled">+</button>
                </div>
            </div>
            <div class="row">
                <div class="input-group form-group col-12 flex-nowrap"
                    ng-repeat="exp in data.work_experiences track by $index">
                    <div class="input-group-prepend">
                        <label class="input-group-text">{{$index+1}}.</label>
                    </div>
                    <input ng-model="data.work_experiences[$index].company_name" name="work_experiences" type="text"
                        ng-disabled="tag_disabled" placeholder="Company Name" class="form-control bg-white">
                    <input ng-model="data.work_experiences[$index].role" name="work_experiences" type="text"
                        ng-disabled="tag_disabled" placeholder="Role" class="form-control bg-white">
                    <input ng-model="data.work_experiences[$index].months" name="work_experiences" type="number" min=1
                        ng-disabled="tag_disabled" placeholder="Months" class="form-control bg-white">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" ng-click="dec('work_experiences',$index)"
                            ng-disabled="tag_disabled">-</button>
                    </div>
                </div>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">
                        Skills
                    </label>
                </div>
                <textarea class="form-control bg-white" ng-model="data.skills" ng-disabled="tag_disabled"
                    placeholder="Eg : C++,Java"></textarea>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="hobbies" class="input-group-text">
                        Hobbies
                    </label>
                </div>
                <textarea class="form-control bg-white" ng-model="data.hobbies" ng-disabled="tag_disabled"
                    placeholder="Eg : Gardening,Swimming"></textarea>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="extra_curricular_activities" class="input-group-text">
                        Extra Curricular Activities
                    </label>
                </div>
                <textarea class="form-control bg-white" ng-model="data.extra_curricular_activities"
                    ng-disabled="tag_disabled" placeholder="Eg : Rotract club member,CSEA Club"></textarea>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <label for="extra_curricular_activities" class="input-group-text">
                        Knowledges
                    </label>
                </div>
                <textarea class="form-control bg-white" ng-model="data.knowledges" ng-disabled="tag_disabled"
                    placeholder="Eg : Gardening,Farming"></textarea>
            </div>
            <button class="btn btn-primary" type="button" ng-show="!btn_show" ng-click="editDetails()">Edit</button>
            <button class="btn btn-primary" type="submit" ng-show="btn_show">Save</button>
            <button class="btn btn-primary" type="button" ng-show="btn_show" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>
</body>
<script src="/js/profile.js"></script>

</html>