<html>

<head>
    <title>Uniccan - Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body style="background-image: url(/images/bg.jpeg);background-size: 100% 100%;">
    <% include header %>
    <div class="container">
        <div class="card border-primary">
            <div class="card-header text-primary border-primary">
                <b>Sign Up</b>
            </div>
            <div class="card-body">
                <form class="form" method="POST" action="/signup">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label for="name" class="input-group-text"><i class="fas fa-user"></i></label>
                        </div>
                        <input id="name" name="name" class="form-control" type="text" placeholder="Name">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label for="email" class="input-group-text"><i class="fas fa-envelope"></i></label>
                        </div>
                        <input id="email" name="email" class="form-control" type="email" placeholder="Email id">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label for="password" class="input-group-text"><i class="fas fa-key"></i></label>
                        </div>
                        <input id="password" name="password" class="form-control" type="password"
                            placeholder="Password">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label for="mobile_no" class="input-group-text"><i class="fas fa-mobile"></i></label>
                        </div>
                        <input id="mobile_no" name="mobile_no" class="form-control" type="text" placeholder="Mobile no">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label for="gender" class="input-group-text"><i class="fas fa-male"></i><i
                                    class="fas fa-female"></i></label>
                        </div>
                        <select class="form-control" id="gender" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label for="dob" class="input-group-text"><i class="far fa-calendar-alt"></i></label>
                        </div>
                        <input id="dob" name="dob" class="form-control" type="date" placeholder="Date of Birth">
                    </div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    <hr>
                    <a href='/signin'>Already have an account?</a>
                </form>
            </div>
            <% if(resp){ %>
            <div class="card-footer border-primary">
                <div class="alert alert-danger">
                    <%= resp.message %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>